{
    "swagger": "2.0",
    "info": {
        "description": "Este é um exemplo de **API para busca e cadastro de filmes**, documentada pelo *Swagger Editor*. Você pode encontrar mais detalhes sobre o *Swagger* em: [http://swagger.io](http://swagger.io) ou em [irc.freenode.net, #swagger](http://swagger.io/irc/).",
        "version": "1.0.0",
        "title": "Filmes Station One",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "email": "luanftgimenez@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "api.filmestatione.com.br",
    "basePath": "/filmes-api/v1",
    "tags": [{
            "name": "categorias",
            "description": "Categorias que contem filmes"
        },
        {
            "name": "filmes",
            "description": "Filmes organizados por categorias"
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/categorias": {
            "get": {
                "tags": [
                    "categorias"
                ],
                "summary": "Busca coleção de categorias",
                "description": "Busca todas as categorias de filmes da base de dados.",
                "operationId": "buscaCategorias",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Categorias retornadas com sucesso",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Categoria"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno no servidor"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "categorias"
                ],
                "summary": "Adiciona uma categoria",
                "description": "Adiciona uma categoria ao banco de dados",
                "operationId": "adicionaCategoria",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "nome",
                    "description": "Nome da categoria a ser adicionada",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Categoria"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Categoria adicionada com sucesso"
                    },
                    "405": {
                        "description": "Tipo inválido"
                    }
                }
            }
        },
        "/categorias/{categoriaId}": {
            "get": {
                "tags": [
                    "categorias"
                ],
                "summary": "Retorna categorias",
                "description": "Retorna todas as categorias do do banco de dados a partir de um ID",
                "operationId": "atualizaCategoria",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Categoria atualizada com sucesso",
                        "schema": {
                            "$ref": "#/definitions/Categoria"
                        }
                    },
                    "500": {
                        "description": "Erro interno no servidor"
                    }
                }
            },
            "put": {
                "tags": [
                    "categorias"
                ],
                "summary": "Atualiza informações de uma categoria",
                "description": "Atualiza o nome da categoria no do banco de dados a partir de um ID",
                "operationId": "atualizaCategoria",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "name": "categoriaId",
                        "in": "path",
                        "description": "Id da categoria a que pertence o filme",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "body",
                        "name": "nomeCategoria",
                        "description": "Nome da categoria a ser editado",
                        "schema": {
                            "type": "object",
                            "required": [
                                "nome"
                            ],
                            "properties": {
                                "nome": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoria atualizada com sucesso",
                        "schema": {
                            "$ref": "#/definitions/Categoria"
                        }
                    },
                    "404": {
                        "description": "Categoria não encontrada."
                    },
                    "500": {
                        "description": "Erro interno no servidor"
                    }
                }
            },
            "delete": {
                "tags": [
                    "categorias"
                ],
                "summary": "Exclui uma categoria a partir de um Id",
                "description": "Remove uma categoria do banco de dados a partir de um ID",
                "operationId": "removeCategoria",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                    "name": "categoriaId",
                    "in": "path",
                    "description": "Id da categoria a ser excluída",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "Filme adicionado com sucesso"
                    },
                    "405": {
                        "description": "Dados inválidos"
                    }
                }
            }
        },
        "/filmes/{filmeId}": {
            "get": {
                "tags": [
                    "filmes"
                ],
                "summary": "Busca filme por ID",
                "description": "Busca um filme específico a partir de uma categoria.",
                "operationId": "buscaFilme",
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "name": "categoriaId",
                        "in": "path",
                        "description": "Id da categoria a que pertence o filme",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "filmeId",
                        "in": "path",
                        "description": "Id do filme a ser retornado",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Filme adicionado com sucesso",
                        "schema": {
                            "$ref": "#/definitions/Filme"
                        }
                    },
                    "404": {
                        "description": "Categoria não encontrada."
                    },
                    "500": {
                        "description": "Erro interno no servidor"
                    }
                }
            },
            "delete": {
                "tags": [
                    "filmes"
                ],
                "summary": "Exclui um filme a partir de uma categoria",
                "description": "Remove um filme do banco de dados a partir de um ID de categoria",
                "operationId": "removeFilme",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "name": "categoriaId",
                        "in": "path",
                        "description": "Id da categoria a que pertence o filme",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "filmeId",
                        "in": "path",
                        "description": "Id do filme a ser retornado",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Filme adicionado com sucesso"
                    },
                    "405": {
                        "description": "Dados inválidos"
                    }
                }
            },
            "put": {
                "tags": [
                    "filmes"
                ],
                "summary": "Atualiza informações de um filme a partir de uma categoria",
                "description": "Atualiza todos as informações de um filme do banco de dados a partir de um ID de categoria",
                "operationId": "atualizaFilme",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "name": "categoriaId",
                        "in": "path",
                        "description": "Id da categoria a que pertence o filme",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "filmeId",
                        "in": "path",
                        "description": "Id do filme a ser retornado",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "body",
                        "name": "filme",
                        "description": "Informações do filme a serem editadas",
                        "schema": {
                            "type": "object",
                            "required": [
                                "titulo",
                                "autor",
                                "descricao"
                            ],
                            "properties": {
                                "titulo": {
                                    "type": "string"
                                },
                                "autor": {
                                    "type": "string"
                                },
                                "descricao": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Filme adicionado com sucesso"
                    },
                    "405": {
                        "description": "Dados inválidos"
                    }
                }
            }
        },
        "/filmes": {
            "post": {
                "tags": [
                    "filmes"
                ],
                "summary": "Adiciona um filme a partir de uma categoria",
                "description": "Adiciona um filme no banco de dados a partir de um ID de categoria",
                "operationId": "adicionaFilme",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "name": "categoriaId",
                        "in": "path",
                        "description": "Id da categoria a que pertence o filme",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "body",
                        "name": "filme",
                        "description": "Nome do autor do filme a ser adicionado",
                        "schema": {
                            "type": "object",
                            "required": [
                                "titulo",
                                "autor",
                                "descricao"
                            ],
                            "properties": {
                                "titulo": {
                                    "type": "string"
                                },
                                "autor": {
                                    "type": "string"
                                },
                                "descricao": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Filme adicionado com sucesso"
                    },
                    "405": {
                        "description": "Dados inválidos"
                    }
                }
            },
            "get": {
                "tags": [
                    "filmes"
                ],
                "summary": "Busca coleção de filmes",
                "description": "Busca todos os filmes da base de dados.",
                "operationId": "buscaFilmes",
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "name": "categoriaId",
                        "in": "path",
                        "description": "Id da categoria a que pertence o filme",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "filmeId",
                        "in": "path",
                        "description": "Id do filme a ser retornado",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categorias retornadas com sucesso",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Categoria"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno no servidor"
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        "Categoria": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "nome": {
                    "type": "string"
                }
            }
        },
        "Filme": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "categoria": {
                    "$ref": "#/definitions/Categoria"
                },
                "titulo": {
                    "type": "string"
                },
                "descricao": {
                    "type": "string"
                },
                "autor": {
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Conheça mais sobre o Swagger",
        "url": "http://swagger.io"
    }
}